<!doctype html>
<html lang="en">
<head>
<link rel="stylesheet" href="../stylesheets/style.css">
  <meta charset="utf-8">
  <title><%= title %></title>
</head>
<body>
    <h1><%= title %></h1>
		
	<% include windsock %>

	<% include pitchAngle %>

</body>
</html>